
/* .check-charge-all{
   background-image: url('../../../assets/images/backgound_page_check_charge.jpg');
   background-size: cover;
   background-repeat: no-repeat;

} */
.guest-check-charge{
    background-image: url('../../../assets/images/xeaaa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 1050px;
}
.guest-check-charge-title{
    font-size: 48px;
    font-style: bold;
    color: white;
    padding: 50px;
}
.guest-check-charge-title-2{
    font-size: 48px;
    font-style: bold;
    color: white;
    
}
.form-check-charge{
    margin-left: 380px;
    margin-bottom: 100px;
    background-color: white;
    width: 1200px;
    text-align: start;
    padding: 20px;
    border-radius: 5px;
}
.require-symbol{
    color: red;
}
.kilogram{
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    
}
.btn-tra-cuoc{
    height: 49px;
    width: 144px;
    font-size: 20px;
    font-style: bold;
    background-color: #FCD804;
    text-align: center;
    margin-left: 44%;
    border-radius: 5px;
    margin-top: 40px;
    border: none;

}
.footer-check-charges{
    background-image: url('../../../assets/images/page-check-charges-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.btn-check-charges-2{
    width: 251px;
    height: 67px;
    margin: 40px;
    background-color: white;
    border: none;
    border-radius: 10px;
    font: 1.5em sans-serif;

}
.btn-check-charges-3{
    width: 251px;
    height: 67px;
    background-color: #FCD804;
    border: none;
    border-radius: 10px;
    font: 1.5em sans-serif;

}