.page-view-bill{
    background-color: #ebedef;
    overflow: hidden;
    width: 100%;
    padding-bottom: 20px;   
}

.all-card-wrapper{
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: left;
}
.des-page-view-bills{
    color: #1890FF;
}